# Idea projectfiles
.idea/
# java/.idea/
*.iml
out/

# Python files
*.pyc

# Eclipse
.metadata/
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
java/.classpath
*.log
*.classpath
*.classpath
*.classpath
